@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

#map {
    height: 100%;
  }
 
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    font-family: 'Hind Madurai', sans-serif;
    height: 100%;
    margin: 10px;
    padding: 0;
  }
 
  table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}



 
  