@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

#map {
    height: 100%;
  }
 
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    font-family: 'Hind Madurai', sans-serif;
    height: 100%;
    margin: 10px;
    padding: 0;
    color: rgba(37, 37, 37, 0.562);
 
  }
  .navbar-title {
      font-size: 2rem;  
  }
  .fa-globe-americas {
      color: whitesmoke;

  }
  .fa-map-marked-alt {
    color: whitesmoke;
  }
  .fa-chart-line {
    color: whitesmoke;
  }
table {
    display: flex;
    flex-flow: column;
    width: 100%;  
}
tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

 
@media only screen and (max-width: 500px) {
    .navbar-title {
      font-size: 1.6rem;
    }
  }