@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

#map {
    height: 100%;
  }
 
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    font-family: 'Hind Madurai', sans-serif;
    height: 100%;
    margin: 10px;
    padding: 0;
 
  }
  .navbar-title {
      font-size: 2rem;
      font-weight:500;
      
  }
  .fa-globe {
      color: #1d4226
  }
 
table {
    display: flex;
    flex-flow: column;
    width: 100%;  
}
tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

 

